.picture {
  width: 25rem;
  gap: 2rem;
  color: rgb(77, 148, 87);
  text-align: center;


}

.img {
  border-radius: 20px;
 

}

.img:hover {
  cursor: pointer;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  
}
