$backgroundImage: linear-gradient(225deg, #000000 0%, #cd890c 90%, #2b86c5 100% );

$cardNavBgColor: #cd890c;
$secondaryColor: #171b20;

$navyBlue: #042940;
$darkGreen: #005c53;
$olive: #9fc131;
$neon: #dbf227;
$beige: #d6d58e;
$bg:rgb(94, 94, 125);
$bgc:rgba(123, 134, 92, 0.5)